<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="记珠">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" href="images/icon-256x256.png">
  <meta name="msapplication-TileImage" content="images/icon-256x256.png">
  <meta name="msapplication-TileColor" content="#4169e1">
  <meta name="msapplication-tap-highlight" content="no">
  <title>记珠</title>

  <link rel="icon" href="images/favicon.ico">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="//cdn.bootcss.com/framework7/1.4.2/css/framework7.material.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/framework7/1.4.2/css/framework7.material.colors.min.css">
</head>
<body>
  <div class="statusbar-overlay"></div>
  <div class="panel-overlay"></div>

  <div class="panel panel-left panel-cover">
    <div class="view navbar-fixed">
      <div class="pages">
        <div data-page="panel-left" class="page">
          <div class="list-block media-list">
            <ul>
              <li>
                <a class="item-link item-content">
                  <div class="item-media"><img src="images/icon-256x256.png" width="44"></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">登录 / 注册</div>
                    </div>
                    <div class="item-text">更多个性化功能</div>
                  </div>
                </a>
              </li>
              <li>
                <a class="item-content item-link close-panel" href="#">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">下载APP</div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="item-content item-link close-panel" href="#">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">帮助与反馈</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div> <!-- div.page -->
      </div> <!-- div.pages -->
    </div> <!-- div.view -->
  </div> <!-- div.panel -->

  <div class="views">
    <div data-page="index" class="view view-main">
      <div class="pages navbar-fixed">
        <div data-page="index" class="page page-on-center">

          <!-- navbar -->
          <div class="navbar">
            <div class="navbar-inner">
              <div class="center">记珠</div>
              <div class="right">
                <a href="#" id="butAdd" class="link icon-only open-panel">
                  <i class="icon icon-bars"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- floating-button -->
          <a href="#" data-popover=".fbtn-popover" class="floating-button floating-button-to-popover open-popover">
            <i class="icon icon-next"></i>
          </a>

          <!-- page-content -->
          <div class="page-content pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
              <div class="preloader"></div>
              <div class="pull-to-refresh-arrow"></div>
            </div>
            <div id="todo" class="card">
              <div class="card-header">待办事项 / TODOs</div>
              <div class="card-content">
                <div class="list-block">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="row">
                            <div class="col-70">
                              <div class="item-input">
                                <input type="text" v-model="newTodo">
                              </div>
                            </div>
                            <div class="col-20">
                              <a v-on:click="addTodo" href="#" class="button button-raised">&#x2713;</a>
                            </div>
                            <div class="col-10"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li v-for="todo in todos">
                      <div class="item-content">
                        <div v-on:click="removeTodo($index)" class="item-media"><i class="icon">&#x2717;</i></div>
                        <div class="item-inner">
                          <div class="item-title">{{ todo.text }}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- div.page -->
      </div> <!-- div.pages -->
    </div> <!-- div.view -->
  </div> <!-- div.views -->

  <!-- popover -->
  <div class="popover fbtn-popover popover-on-top" style="width: 200px;">
    <div class="popover-inner">
      <div class="list-block">
        <ul>
          <li><a href="select-widget.html" class="item-content item-link close-popover">
            <div class="item-inner">
              <div class="item-title">添加组件</div>
            </div>
          </a></li>
          <li><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">删除/移动组件</div>
            </div>
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="//cdn.bootcss.com/framework7/1.4.2/js/framework7.min.js"></script>
  <script src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
  <script src="js/bundle.js"></script>
<!--   <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('sw.js', { scope: '/' })
        .then(reg => {
          console.log('[App] :D Service worker registered')
        }).catch(err => {
          console.log('[App] :X', err)
        })

      navigator.serviceWorker.ready.then(reg => {
        console.log('[App] :D Service worker ready')
      })
    }
  </script> -->
</body>
</html>
